<html>
	<body>
		<center>
			<h1> Secure System for Criminal Recognition and Data Management</h1><br><br>
			<b><p style="color:green; font-size:50px">SUCCESS</p></b>
			<table>
				<tr>
					<td><a href='return-key/My_Key.pem' target="blank"><button>Download Key</button></a></td>
					<td><a href='home'><button>Back to HOME</button></a></td>
				</tr>
			</table>
			<br><h4>A Project by:</h4>
			<h5>Preethik Shetty, Deepak B H, Akhilesh P R, Manoj M K<br>B.E (ECE)<br></h5>
		</center>
	</body>
</html>